$fuente-principal: 'Open Sans';
$color-principal: #0000FF;
$color-verde-texto: #50E3C2;
$color-azul-contenerdor: #F4F5F9;

$color-diurno: #FFF;
$color-nocturno: #37383C;

$color-text-hover: #00F3BB;
$color-text-active: rgba(6,10,36,0.56);
$color-text:  #060A24;
$color-verde: #00F3BB;